<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
    <link rel="stylesheet" href="/MessageBoard/messageBoard.style.css" />
    <link rel="stylesheet" href="/PageHeader/pageHeader.style.css">
  </head>
  <body>
    <%- include("../PageHeader/PageHeader.view.ejs") %>
    <main>
      <header class="main-header">
        <h1>Message Board</h1>
        <a href="/create" class="button primary-button"><img src="/assets/write-icon.svg" alt="">Write Message</a>
      </header>
      <ul class="message-list">
        <% for(const {text, user, added} of messages) { %>
          <li class="message-item">
            <div class="user-details">
              <div class="user-image">
                <img src="/assets/default-profile.png" alt="">
              </div>
              <span class="user"><%= user %></span>
            </div>
            <div class="message-content">
              <span class="date"><%= added %></span>
              <span class="text"><%= text %></span>
            </div>
          </li>
        <% } %> 
      </ul>
    </main>
  </body>
</html>
